<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
          <li><a href="http://www.google.com/recaptcha/mailhide/d?k=01Bpumoh8pVr5f1BZp5_w5Tg==&amp;c=1rQvruZCKyanCyByKuR-hmtwaKxt0Y_lOVL63HkeVSo=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01Bpumoh8pVr5f1BZp5_w5Tg\x3d\x3d\x26c\x3d1rQvruZCKyanCyByKuR-hmtwaKxt0Y_lOVL63HkeVSo\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">o...@pjbollinger.com</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
